.project-form-container {
    padding: 30px;

    h2 {
        text-align: center;
    }

    mat-icon {
        margin: 0;
    }

    .project-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 8px;
        border-bottom: 1px solid gainsboro;
        padding: 0 0 8px;

        &:nth-of-type(1) {
            border-top: 1px solid gainsboro;
            padding-top: 8px;
        }
    }

    .new-project-form {
        display: flex;
        flex-direction: column;
    }

    button {
        margin-top: 8px;
    }
}