<article class="task-card">
    <mat-card>
        <mat-card-title>{{ task.title }}</mat-card-title>
        <mat-card-content>
            <p>{{ task.description }}</p>
            <p>Due Date: {{ task.dueDate | date }}</p>
            <p>Status: {{ task.completed ? 'Completed' : 'Pending' }}</p>
            <p>Project: {{ getProjectName() }}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="secondary" (click)="onEdit()" title="Edit Task">
                <mat-icon fontIcon="edit"></mat-icon>
            </button>
            <button mat-raised-button color="warn" (click)="onDelete()" title="Delete Task">
                <mat-icon fontIcon="delete-forever"></mat-icon>
            </button>
        </mat-card-actions>
        <ng-content></ng-content>
    </mat-card>
</article>