main {
    background-color: #F0F0F0;

    nav {
        background-color: #2AA976;
        color: white;
        min-height: 90px;
        display: flex;
        align-items: center;
        margin-bottom: 45px;

        h1 {
            margin-left: 60px;
        }
    }

    footer {
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FAFAFA;
        margin-top: 100px;
    }
}