<section class="task-form">
    <h2>Add a new task:</h2>
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
        <mat-form-field>
            <mat-label>Title</mat-label>
            <input matInput [(ngModel)]="title" name="title" required="">
            <mat-error *ngIf="form.controls['title']?.invalid && form.controls['title']?.touched">
                Please enter a title
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput [(ngModel)]="description" name="description"></textarea>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Due Date</mat-label>
            <input matInput [(ngModel)]="dueDate" name="dueDate" [matDatepicker]="picker" placeholder="MM/DD/YYYY">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Project</mat-label>
            <mat-select [(ngModel)]="projectId" name="projectId" required>
              <mat-option *ngFor="let project of projects$ | async" [value]="project.id">{{ project.name }}</mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls['title']?.invalid && form.controls['title']?.touched">
                Please enter a project
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Completed?</mat-label>
            <mat-select [(ngModel)]="completed" name="completed" required>
              <mat-option [value]="true">Yes</mat-option>
              <mat-option [value]="false" default>No</mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls['title']?.invalid && form.controls['title']?.touched">
                Please indicate if the task is completed
            </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Submit</button>
    </form>
</section>