.task-list-container {
    .organizers-container {
        display: flex;
        justify-content: center;
        align-items: flex-end;

        ::ng-deep .mat-mdc-form-field-subscript-wrapper {
            display: none;
        }

        & > * {
            margin: 0 15px;
        }

        .button-container {
            button {
                margin: 0 8px
            }
        }

        .filter-container {
            .filters {
                display: flex;
                
                mat-button-toggle-group {
                    margin-right: 15px;

                    mat-button-toggle {
                        display: flex;
                    }
                }
            }
        }
    }
    .task-list {
        max-width: 90%;
        margin: 0 auto;
    
        @media (min-width: 550px) {
            max-width: 60%;
        }

        .task-id {
            position: absolute;
            right: 30px;
            bottom: 30px;
            font-size: 10px;
            font-style: italic;
            color: gainsboro;
        }

        .disco-button {
            width: 144px;
            margin: 8px;
        }
    }
}
